$textColor: #328DC9;
$lightColor: #0099ff;
$darkColor:#003A5F;
$grayColor: #EDEEF0;

.sidebar {
  max-width: 120px;
  height: 100%;
  padding-left: 15px;
  padding-right: 20px;
  position: fixed;
  top: 70px;
  display: inline-flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 1.3rem;


  a {
    text-decoration: none;
    color: #328DC9;
    margin-bottom: 5px;
  }

  a:hover {
    color: #0099ff;
  }

}