.isLogged, .logging {
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: #EDEEF0;
  text-decoration: none;
  text-shadow: 2px 2px #003a5f;
}

.logging {
  color: #EDEEF0;
}

.isLogged {
  color: #E5A900;

}