$textColor: #328DC9;
$lightColor: #0099ff;
$darkColor: #003A5F;
$grayColor: #EDEEF0;

.Profile {
  background-color: #EDEEF0;
  margin-right: 15px;
  margin-left: 120px;
  padding: 10px 0;

}

.person {
  display: flex;
  flex-direction: column;


  .photo {
    width: 80px;
    height: 80px;
    margin:0 10px;
    grid-area: photo;
    

  }

  .name {
    font-size: 1.3rem;
    font-weight: 700;

    padding:0 10px;


  }
  .status{
    cursor: pointer;
    margin: 5px 10px;
    
  }

  .info {
    padding:0 10px;
    color: $darkColor;


  }
  .job{
    font-family: 'Lato';
    font-weight: 700;

    padding:0 10px;
  }
  .jobdescription{

    padding: 0 10px;
  }
}