$textColor: #328DC9;
$lightColor: #0099ff;
$darkColor: #003A5F;
$grayColor: #EDEEF0;


.person {

  margin-right: 15px;
  margin-left: 120px;
  padding: 10px 0;
  display: flex;
  user-select: none;



  .photo {
    width: 200px;
    height: 200px;
    margin: 0 10px;
    grid-area: photo;
  }

  .editmode {
    cursor: pointer;
    text-decoration: underline;
  }

  .name {
    font-size: 2rem;
    font-weight: 700;

  }

  .status {

  }

  .info {
    color: $darkColor;
  display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .job {
    font-family: 'Lato';
    font-weight: 700;


  }

  .jobdescription {
  }
  .contactslist{
  display: flex;
    flex-direction: column;

  }
  .contacts{
    color: red;
    cursor: pointer;

  }
  .contact{

  }
}