$textColor: #328DC9;
$lightColor: #0099ff;
$darkColor:#003A5F;
$grayColor: #EDEEF0;

.Profile {

  margin-left: 120px;

}

.person {
  display: flex;

  .photo {
    width: 120px;
    height: 120px;
    margin: 10px;
    background-image: url('https://i.ya-webdesign.com/images/person-svg-circle-icon-1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

  }

  .info {
    padding: 10px;
    color: $darkColor;
  }
}