$textColor: #328dc9;
$lightColor: #0099ff;
$darkColor: #003a5f;
$grayColor: #edeef0;

.pagination {
  display: block;
  overflow-x: scroll;
  padding-bottom: 15px;
  margin-right: 10px;
}

.pagactive,
.pagin {
  font-size: 0.7rem;
  margin: 0 5px;
  color: $darkColor;
  cursor: pointer;
  user-select: none;
}

.pagactive {
  font-weight: 900;
  color: $lightColor;

}


.users {
  margin-left: 120px;

}

.userWrapper {
  display: inline-flex;
  padding: 10px;
  border-bottom: 1px solid $darkColor;
  max-width: 220px;


  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-wrap: break-word;

    .avatar {
      width: 60px;
      height: 60px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .button {
      width: 60px;
      background-color: $darkColor;
      color: #edeef0;
      border-radius: 5px;
      outline: none;

    }


  }

  .description {
    padding: 10px;


    .name {
      font-family: Lobster;
      font-size: 1.2rem;
      word-break: break-all;

    }


  }



}