$textColor: #328DC9;
$lightColor: #0099ff;
$darkColor:#003A5F;
$grayColor: #EDEEF0;

.header {
  width: 100%;
  background-color: $darkColor;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 400;
  font-size: 2rem;
  color: white;
  font-family: 'Lobster', cursive;
}