.header{
  width: 100%;
  background-color: rgb(161, 252, 244);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  font-weight: 900;
  color: aliceblue;
}