@import '~antd/dist/antd.css';

@font-face {
  font-family: 'Lato';
  src: url('./accets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: Lobster;
  src: url('./accets/fonts/Japanese.ttf');
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
